@{
    bool isLogged = !string.IsNullOrEmpty(Context.Request.Cookies["Authorization"]);
}


<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edumark</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    @* <link rel="stylesheet" href="/css/font-awesome.min.css"> *@
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/course.css">
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style>
        .layout-header {
            grid-area: header;
        }

        .layout-main {
            grid-area: main;
        }

        .layout-footer {
            grid-area: footer;
        }

        .grid-container {
            display: grid;
            grid-template-areas:
                'header'
                'main'
                'footer';
        }

        .nav-item.search-bar {
            margin-left: 10px; /* Adjust the margin as needed */
        }

            .nav-item.search-bar form {
                display: flex;
                align-items: center;
            }

            .nav-item.search-bar input {
                margin-right: 5px;
            }

        /*  media (max-width: 767px) {
                                    .nav-item.search-bar {
                                        display: none;
                        }
                        } */

        .row {
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-between; 
            align-items: stretch; 
        }

        .footer-about, .footer-links, .footer-contact {
            flex: 1; 
            padding: 0 15px; 
        }

        @@media (max-width: 768px) {
            .row {
                flex-direction: column; 
            }

            .footer-about, .footer-links, .footer-contact {
                padding: 15px 0; 
            }
        }

        .site-footer {
            background-color: #8d88cc;
            color: #fff;
            padding: 20px 0;
            font-size: 16px;
        }

            .site-footer a {
                color: #fff;
                text-decoration: none;
            }

                .site-footer a:hover {
                    text-decoration: underline;
                }

            .site-footer h6 {
                color: #fff;
                margin-top: 0;
                margin-bottom: 15px;
            }

        .footer-about, .footer-links, .footer-contact, .footer-social {
            margin-bottom: 20px;
        }

        .footer-bottom {
            border-top: 1px solid white;
            color: white;
            padding-top: 10px;
            text-align: center;
        }

        @@media (max-width: 768px) {
            .site-footer .container {
                width: 100%;
                padding: 0 15px;
            }

            .site-footer .row {
                flex-direction: column;
                align-items: center;
            }

            .footer-about, .footer-links, .footer-contact, .footer-social {
                text-align: center;
            }

                .footer-links ul, .footer-social {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                }

                .footer-links li {
                    padding: 0 10px;
                }
        }

        p {
            color: white;
        }
        h6{
            font-size: 20px;
        }
    </style>
</head>

<body>
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/">Home</a></li>
                                        <li><a href="/Courses/Index">Courses</a></li>
                                        <li><a href="/Home/About">About</a></li>
                                        <li><a href="/Home/Contact">Contact</a></li>
                                        @*   @if (ViewData["Title"]?.ToString() != "Lectures")
                                        {
                                        } *@
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        @if (!isLogged)
                        {
                            <div style="padding-right:5vh" class="col-xl-7 col-lg-3 d-none d-lg-block">
                                <div class="log_chat_area d-flex align-items-center">
                                    <a href="/Auth/SignIn" style="font-family: 'Poppins'" class="login popup-with-form">
                                        <i class="flaticon-user"></i>
                                        <span>Sign in</span>
                                    </a>
                                    <div class="live_chat_btn">
                                        <a class="boxed_btn_orange" style="font-family: 'Poppins'; text-align:center; width:20vh" href="/Auth/SignUp">
                                            <span>Sign Up</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div style="padding-right:5vh" class="col-xl-7 col-lg-3 d-none d-lg-block">
                                <div class="log_chat_area d-flex align-items-center">
                                    <a href="/Auth/SignOut" class="login popup-with-form">
                                        <i class="flaticon-user"></i>
                                        <span>Sign out</span>
                                    </a>
                                </div>
                            </div>
                        }
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="grid-container">
        <div class="layout-header">
        </div>
        <div class="layout-main">
            @RenderBody()
        </div>
        <footer class="site-footer">
            <div class="container" style="color: white">
                <div class="row">
                    <div class="footer-about">
                        <h6>About SmartyStars</h6>
                        <p>High-quality, interactive courses designed to make learning enjoyable for kids.</p>
                    </div>
                    <div class="footer-links">
                        <h6>Quick Links</h6>
                        <ul>
                            <li><a href="/Home/About">About Us</a></li>
                            <li><a href="/Courses/Index">Courses</a></li>
                             <li><a href=#>FAQ</a></li>
                            <li><a href=#>Pricing</a></li> 
                        </ul>
                    </div>
                    <div class="footer-contact">
                        <h6>Contact Us</h6>
                        <p><strong>Email:</strong> virtualteacher.official@gmail.com</p>
                        <p><strong>Phone:</strong> +359888888888</p>
                        <p><strong>Address:</strong> Sofia, Bulgaria</p>
                    </div>
                    @*   <div class="footer-social">
                    <h6>Follow Us</h6>
                    <!-- Icons or links to social media -->
                    </div> *@
                </div>
                <div class="footer-bottom">
                    <p>© 2024 SmartyStars. All Rights Reserved.</p>
                </div>
            </div>
        </footer>

        @*  <div class="layout-footer">
        <footer style="background-color: #8d88cc; font-family: 'Poppins', sans-serif; position: relative; bottom: 0; width: 100%; height: 100px;">
        <

        <small>© Copyright @DateTime.Now.Year, VirtualTeacher in collaboration with Colorlib</small>
        </footer>
        </div> *@
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @*     <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/ajax-form.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/scrollIt.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/nice-select.min.js"></script> *@
    <script src="/js/jquery.slicknav.min.js"></script>
    @*     <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/gijgo.min.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script> *@
    @*     <script src="/js/plugins.js"></script>
    *@
    <script src="/js/main.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>