

<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
        <div class="container animated-image">
            <div class="row align-items-center">
                <div class="col-xl-5 col-md-5">
                    <div style="position: unset" class="illastrator_png">
                        <img src="img/index-star.svg" class="animated-star" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="slider_info">
                        <h3 style="color:black; margin-bottom:20px">
                            Grow Smart <br>
                            While Having <br>
                            Much Fun
                        </h3>
                        <a style="font-family:'Poppins'; font-size:25px; " href="/Courses/Index" class="boxed_btn">Our Courses 🔎︎</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section style="border-top: solid; padding-top: 5vh; background-image: linear-gradient(to bottom, #50388f, #3a307a, #2a2965, #1d2250, #131b3b);" )>
    @* class="py-lg-14 pb-8 bg-white " *@>@* <img style="width: 100%; height:600px" src="~/img/hero-slide-1.jpg" alt="astronaut-flying" /> *@
    <div class="container rounded-3 animated-image">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xs-12 d-none d-lg-block">
                <div class="d-flex justify-content-center">
                    <div style="margin-left:20vh" class="position-relative">
                        <img src="~/img/astronaut-flying.webp" alt="astronaut-flying" /> 
                        
                        @* <img src="~/img/cta-instructor-1.png" alt="" class="img-fluid mt-n13" /> *@
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xs-12">
                <div class="text-black p-5 p-lg-0">
                    <h2 style="color: white; font-size: 30px">Become an instructor today</h2>
                    <p style="padding-bottom:20px" class="mb-0">
                        Explore the galaxy of education!
                        Our global platform empowers you to share your passion and expertise, providing all the tools you need.
                        Inspire young minds to discover the universe.
                    </p>
                    <a style="font-family:'Poppins'; /*  background-color: #e3a576; */  transition: background-color 0.3s ease;" href="@Url.Action("Index", "TeacherCandidate")" class="boxed_btn">
                        Start Teaching Today
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- slider_area_end -->
<!-- about_area_start -->
<div class="about_area animated-image">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="single_about_info">
                    <h3>
                        Welcome to SmartyStars - Your Gateway to Cosmic Learning!
                    </h3>
                    <p style="font-size: 20px">
                        Here, the vastness of space meets the endless possibilities of learning.
                        Our universe is filled with mysteries waiting to be unraveled, and every course is a new journey.
                    </p>
                    <a href="/Courses/Index" class="boxed_btn" style="background-color: #FDAE5C">Enroll a Course</a>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <img src="~/img/teenagers.webp" alt="teenagers" style="height:600px; width: 600px" />

            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Define separate observers for each animated image
        var animatedImages = document.querySelectorAll('.animated-image');

        animatedImages.forEach(function (animatedImage) {
            var observer = new IntersectionObserver(function (entries) {
                entries.forEach(function (entry) {
                    if (entry.isIntersecting) {
                        animatedImage.classList.add('animate');
                    }
                });
            }, {
                threshold: 0.5 // Adjust the threshold as needed
            });

            observer.observe(animatedImage);
        });
    });
</script>