<div style="overflow-y: auto; height: 100vh; margin-left: unset; margin-right: unset;" class="row align-items-center justify-content-center g-0 min-vh-100 position-relative">
    <div class="col-lg-10 col-md-10 py-8 py-xl-0 position-relative" style="top: 5vh;">
        <div class="row align-items-center justify-content-center g-0 min-vh-100">
            <div class="col-lg-9 col-md-9 py-8 py-xl-0">
                <h1>Application not accepted.</h1>
                <h4>You've already applied. Please, wait at least 5 days until your next application.</h4>
            </div>
        </div>
    </div>
</div>