@model VirtualTeacher.Models.DTO.AuthenticationDTO.LoginDto

@section Scripts
    {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Define separate observers for each animated image
            var animatedImages = document.querySelectorAll('.animated-image');

            animatedImages.forEach(function (animatedImage) {
                var observer = new IntersectionObserver(function (entries) {
                    entries.forEach(function (entry) {
                        if (entry.isIntersecting) {
                            animatedImage.classList.add('animate');
                        }
                    });
                }, {
                    threshold: 0.5 // Adjust the threshold as needed
                });

                observer.observe(animatedImage);
            });
        });
    </script>
}
<div style="/* background-image:url('/img/signin-bg.svg');  */overflow: hidden; height: 100vh; margin-left: unset; margin-right: unset;" class="row align-items-center justify-content-center g-0 min-vh-100 position-relative">
    <video autoplay="" muted="" loop="" id="myVideo" class="position-absolute top-0 start-0 translate-middle">
        <source src="/img/bg-video.mp4" type="video/mp4">
    </video>
    <img src="/img/stars.svg" alt="Image" class="moving-image1 image1" style="z-index: 0;right:0;width: 45%;filter: drop-shadow(2px 2px 1px black);">
    <img src="/img/stars.svg" alt="Image" class="moving-image2 image2" style="z-index: 0;right:0;width: 45%;filter: drop-shadow(2px 2px 1px black);">
    <img src="/img/stars.svg" alt="Image" class="moving-image1 image1" style="z-index: 0;left:0;width: 45%;filter: drop-shadow(2px 2px 1px black);">
    <img src="/img/stars.svg" alt="Image" class="moving-image2 image2" style="z-index: 0;left:0;width: 45%;filter: drop-shadow(2px 2px 1px black);">
    <div class="col-lg-3 col-md-4 py-8 py-xl-0 position-relative">
        <img src="/img/rocket.svg" alt="Image" class="position-absolute top-0 start-0 translate-middle mt-3 ms-3" style=" z-index: 0; top: -25vh; right: -125vh; width: 150vh; filter: drop-shadow(2px 2px 1px black);">
        <div style="border-radius: 27px;filter: drop-shadow(2px 4px 6px black);font-family: 'Poppins';" class=" card position-relative">
            <div class="card-body p-6" style="padding:30px">
                <div class="mb-4">
                    <a href="/">
                        <img src="path/to/Logo" class="mb-4" alt="">
                    </a>
                    <h1 class="mb-1 fw-bold">Sign in</h1>
                    <span>
                        Don’t have an account? <a href="/Auth/SignUp" style="color: #3f9996;" class="ms-1">Sign up</a>
                    </span>
                </div>
                <!-- Form -->
                <form action="/Auth/SignIn" method="post">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mb-3">
                            <!-- Username or email -->
                            <label for="email">Email </label>
                            <input asp-for="Email" type="email" style="min-width:10vh;" id="email" class="form-control" placeholder="Enter email address" required="">
                        </div>
                        <div class="col-lg-12 col-md-12 mb-3">
                            <!-- Password -->
                            <label for="password">Password </label>
                            <input asp-for="Password" type="password" style="min-width:10vh;" id="password" class="form-control" placeholder="**************" required="">
                        </div>
                        <div class="col-lg-12 col-md-12 mb-3 text-danger">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-12 col-md-12 mb-0 d-grid gap-2">
                            <!-- Button -->
                            <button class="auth-btn btn btn-primary" type="submit" style="padding:10px; border-radius: 10px; width: 15vh;">
                                Sign in
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>