<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
    <style>
        .main-wrapper {
            position: relative;
            overflow: hidden;
        }

        .main-container {
            
            position: relative;
            z-index: 1;
            margin-bottom:230px;
        }

        .svg-container {
            
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0; 
        }

        .profile-header {
            background: rgb(97,94,152);
            background: linear-gradient(90deg, rgba(97,94,152,1) 0%, rgba(182,165,226,1) 0%, rgba(172,237,209,1) 100%);
            color: white;
            padding: 40px;
            border-radius: 5px;
            text-align: center;
        }

            .profile-header h1 {
                font-size: 36px;
                margin-bottom: 20px;
            }

            .profile-header p {
                font-size: 18px;
                margin-bottom: 0;
                color: black; 
            }

        .profile-picture {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
        }

        /* Adjust card-body width */
        .card-body {
            padding: 40px;
            margin-top:200px;
        }
    </style>
</head>
<body>
    <div class="main-wrapper">
        <div class="svg-container">
            <img src="~/img/sidelines.svg" class="" alt="">
        </div>
        <div class="container mt-5 main-container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <!-- Center the content -->
                    <div class="p-4 rounded" style="background-color:rgba(255, 255, 255, 0.6); box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                        <div class="card-header text-center bg-light text-black" style="font-size:17px; font-weight:600">
                            Edit Profile
                        </div>
                        <div>
                            <div class="profile-header">
                                <img src="path_to_your_profile_picture" alt="Profile Picture" class="profile-picture">
                                <h1 style="text-shadow: 2px 2px 4px rgba(0,0,0,0.4);">@Model.FirstName @Model.LastName</h1>
                                <p>@Model.Email</p>
                            </div>
                            <form class="bg-opacity-10">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Enter first name" autocomplete="given-name">
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" autocomplete="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Enter password">
                                    @*<span asp-validation-for=""*@
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="file" name="ProfileImage" accept="image/png, image/gif, image/jpeg" />
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary">Update Profile</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
